.categoriePage{

    &__main{

        padding: 5rem 20rem;

        &__banner{
            display: flex;
            flex-direction: column;
            gap: 2.5rem;
        }
    }
}

.pagination-category{
font-size: 1.8rem;
color: var(--gray-200);
cursor: pointer;
direction: ltr;

}


.activePage-category{
    // width: 2rem;
    // height: 2rem;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // border-radius: 0.5rem;
    // // background-color: var(--gray-200);
    color: var(--primary)

}